:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}

body {
    margin: 0;
}

html {
    overflow: auto;
}

#root {
    /*background-color: ;*/
    background-color: #A29590;
    color: #5F0F40
}
